.name_of_header{
    display: inline-block;
    margin: 1px 10px;
    width: 170px;
    text-align: right;
}

.header{
    display: inline-block;
}


h1{
    margin: 8px 30px;
}

.div_border{
    border: 1px solid gray;
    padding: 4px;
    margin: 4px;
}